<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.tutu.pestcs">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:name=".app.TApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.Splash"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.FocusTypeActivity">
        </activity>
        <activity android:name=".activity.ChangeFocusType">
        </activity>
        <activity android:name=".activity.SetCurrenTask">
        </activity>
        <activity android:name=".activity.TaskActivity">
        </activity>
        <activity android:name=".activity.TaskDetail">
        </activity>
        <activity android:name=".activity.AddTask">
        </activity>
        <activity android:name=".activity.UserActivity">
        </activity>
        <activity android:name=".activity.AddUser">
        </activity>
        <activity android:name=".activity.EditUser">
        </activity>
        <activity android:name=".activity.ChangePsw">
        </activity>
        <activity android:name=".activity.QueryResult">
        </activity>
        <activity android:name=".activity.DataStatistic">
        </activity>
        <activity android:name=".activity.MainActivity">
        </activity>
        <activity android:name=".activity.LoginActivity">
        </activity>
        <activity
            android:name=".activity.InsertActivity"
            android:windowSoftInputMode="stateVisible|adjustResize"/>
        <activity android:name=".activity.DataManageActivitay">
        </activity>
    </application>

</manifest>